{%  from 'base/macros.jinja2' import color, duplicate_entry, transaction_entry %}
{%  extends "duplicates/duplicates.jinja2" %}
{%- block duplicate_header -%}
{{    "┃  Duplicate Entry" + super() }}
{%- endblock duplicate_header -%}
{%- block duplicate_list -%}
{{    duplicate_entry(duplicate, highlight.duplicate) }}
{%  endblock duplicate_list -%}
{%- block duplicate_transactions -%}
{%  for entry in entries %}
{{      transaction_entry(entry, True, False, highlight.transaction) }}
{%-  endfor %}
{%  endblock duplicate_transactions %}