{%- block duplicate_header %} 
┃ {{ super }}
┃  - The top ({{color('green')}}green{{color('off')}}) line shows the transaction as imported for wich duplicates where found.
┃    Where the duplicate_id is displayed in front of it in square brackets. '[1]'
┃
┃  - Subsequent lines ({{color('red')}}red{{color('off')}}) show the duplicatates found for this transaction wich are imported
┃    in the duplicatates table.  Where the duplicate_entry_id is displayed in front of it in 
┃    normal brackets.  '{{color('red')}}(2){{color('off')}}'
┃
┃  To show the details of a duplicate, use the duplicate_id. '{{color('green')}}[1]{{color('off')}}' To manipulate duplicate entries
┃  (import,delete) use the duplicate_entry_id '{{color('red')}}(2){{color('off')}}'
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{% endblock duplicate_header -%}
{% block duplicate_list %}{% endblock duplicate_list %}
{% block duplicate_transactions %}{% endblock duplicate_transactions %}
