{%  from 'base/macros.jinja2' import duplicate_entry %}
{%  extends "duplicates/duplicates.jinja2" %}
{%- block duplicate_header -%}
{{    "┃  List of Duplicates" + super() }}
{%- endblock duplicate_header -%}
{%- block duplicate_list -%}
{%   for duplicate in duplicates -%}
{{       duplicate_entry(duplicate) }}
{%-   endfor -%}
{% endblock duplicate_list %}

