{# 
    Macro to display transaction entry.  The usage of colors and the boxbar
    is determined by the parameters 

#}
{% macro transaction_entry(entry, colorMap, boxBar=True, highlight=None, delta=False) -%}
{% set clr = colorMap -%}
{% if boxBar -%}
{%    set bar=clr.bright + "┃" + clr.off -%}
{%- else -%}
{%    set bar=" " -%}
{% endif -%}
{% if entry.id == highlight|int -%}
{%    set ch = color('highlight1') -%}
{% endif -%}
{# entry.flag <str> Can be None due to the return of sqlite, wich will chocke the format filter -#}
{% if entry.flag is not none -%}{{clr.red + "{:1s}".format(entry.flag) + clr.off -}}{% else -%}{{ " "}}{% endif -%}
{# Now display one one of data -#}
{{bar}}{{ch}}{{entry.date}}{{bar}}{{"%-15s"|format(entry.transaction_type)}}{{bar}}{{"%-64s"|format(entry.description[:64])-}}
{{bar}}{% if entry.dc == "C" %}{{ clr.green + "{:12,.2f}".format(entry.amount) + clr.off }}{{ch}}{% else %}            {% endif -%}
{{bar}}{% if entry.dc == "D" %}{{ clr.red + "{:12,.2f}".format(entry.amount) + clr.off }}{{ch}}{% else %}            {% endif -%}
{{bar}}{{ clr.blue + "{:12,.2f}".format(entry.balance) + clr.off }}{{ch}}{{bar}}{{clr.off -}}
{# Display delta if any -#}
{% if delta and (entry.delta|float >= 0.01 or entry.delta|float <= -0.01 )  -%}
{%   if entry.delta < 0 -%}
{{ clr.red  + "{:12,.2f}".format(entry.delta) + clr.off -}}
{%   else -%}
{{ clr.green + "{:+12,.2f}".format(entry.delta) + clr.off -}}
{%   endif -%}
{% endif %}
{%- endmacro %}
{# 
    Macro Report
#}
{% macro import_report(report) %}
File checked:                   {{ report.fileChecked }}
Exported to:                    {{ report.fileExported }}
Lines found in file:            {{ report.linesRead }}
Data lines in file:             {{ report.dataLinesFound }}

----------------------- Errors found ---------------------------
Incorrect date format:          {{ report.incorrectDate }}
Leading quote:                  {{ report.leadingQuote }}
Trailing comma:                 {{ report.trailingComma }}
Single Quote in text:           {{ report.singleQuote }}

Total Errors Found:             {{ report.totalErrors }}

----------------------- Import Stats --------------------------
Records imported:               {{ report.recordsImported }}
Records exported:               {{ report.recordsExported }}
SQL Import Errors:              {{ report.sqlInsertErrors }}
Duplicates Found:               {{ report.duplicatesFound }}
{% endmacro %}