
****************************************************************
                 CSV Check/Import Report
****************************************************************

File checked:           {{ report.fileChecked }}
Exported to:            {{ report.fileExported }}
Lines found in file:    {{ report.linesRead }}
Data lines in file:     {{ report.dataLinesFound }}

----------------------- Errors found ---------------------------
Incorrect date format:  {{ report.incorrectDate }}
Leading quote:          {{ report.leadingQuote }}
Trailing comma:         {{ report.trailingComma }}
Single Quote in text:   {{ report.singleQuote }}

Total Errors Found:     {{ report.totalErrors }}

----------------------- Import Stats --------------------------
Records imported:       {{ report.recordsImported }}
Records exported:       {{ report.recordsExported }}
SQL Import Errors:      {{ report.sqlInsertErrors }}
Duplicates Found:       {{ report.duplicatesFound }}

****************************************************************

