{% from 'base/macros.jinja2' import import_report %}
****************************************************************
Import data from import: {{ import.id }} [{{ import.time_stamp }}]

{{ import_report(report) }}

****************************************************************

