{%  from 'base/macros.jinja2' import transaction_entry,color %}
{%  if options.color -%}
{%   set clr = {
        "blue":         color('blue'),
        "red":          color('red'),
        "green":        color('green'),
        "yellow":       color('yellow'),
        "off":          color('off'),
        "bright":       color('bright'),
        "gray":         color('gray'),
        "highlight1":   color('highlight1'),
        "highlight2":   color('highlight2'),
    } 
%}
{%- else -%}
{%     set clr = {"blue": "", "red": "", "green": "", "yellow": "", "off": "", "bright": ""} -%}
{%  endif -%}
{% if options.bars %}{% set bar = '┃' %}{% else %}{% set bar = ' '%}{% endif -%}
{# Start of the template 
#}
         {{clr.bright}}Account :{{clr.off}} {{ account.acct_number }}({{ account.alias }}):{{ account.nick_name }}
 {{clr.bright}}Search Criteria :{{clr.off}} {% if month %}month - {{ month }}{% elif range %}range - {{ rnge }}{% elif date %}date - {{ date }}{% else %}None{% endif %}

{{ clr.bright }}
{% if options.bars %} ┏━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┓{% endif %}
 {{bar}}  Date    {{bar}} Transact Type {{bar}} Description                                                    {{bar}}     Credit {{bar}}      Debit {{bar}}    Balance {{bar}}
{% if options.bars %} ┣━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━┫{{ clr.off}} {% endif %}
{{- clr.off }}
 {{bar}}          {{bar}}               {{bar}}{{ clr.yellow + "↦ Start Balance" + clr.off }}                                                 {{bar}}            {{bar}}            {{bar}}{{ clr.yellow + "{:12,.2f}".format(totals.start) + clr.off }}{{bar}}
{% if options.bars %} ┣━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━┫{{ clr.off}} {% endif %}
{%- for entry in entries %}
{{ transaction_entry(entry, colors=options.color, delta=options.delta, boxBar=options.bars) }}
{%- endfor %}
{% if options.bars %} ┣━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━┫{{ clr.off}} {% endif %}
 {{bar}}          {{bar}}               {{bar}}{{ clr.yellow + "⇤ End Balance and totals" + clr.off }}                                        {{bar}}{{ clr.yellow + "{:12,.2f}".format(totals.credit) + clr.off }}{{bar}}{{ clr.yellow + "{:12,.2f}".format(totals.debit) + clr.off }}{{bar}}{{ clr.yellow + "{:12,.2f}".format(totals.end) + clr.off }}{{bar}}
{% if options.bars %}{{ clr.bright }} ┗━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━━┛{{ clr.off }}{% endif %}

