{%  from 'base/macros.jinja2' import transaction_entry,color %}
{%  if options.color -%}
{%   set clr = {
        "blue":         color('blue'),
        "red":          color('red'),
        "green":        color('green'),
        "off":          color('off'),
        "bright":       color('bright'),
        "gray":         color('gray'),
        "highlight1":   color('highlight1'),
        "highlight2":   color('highlight2'),
    } 
%}
{%- else -%}
{%     set clr = {"blue": "", "red": "", "green": "", "off": "", "bright": ""} -%}
{%  endif -%}
{# Start of the template 
#}
         {{clr.bright}}Account :{{clr.off}} {{ account.acct_number }}({{ account.alias }}):{{ account.nick_name }}
 {{clr.bright}}Search Criteria :{{clr.off}} {% if month %}month - {{ month }}{% elif range %}range - {{ rnge }}{% elif date %}date - {{ date }}{% else %}None{% endif %}

{{ clr.bright }}
 ┏━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┓
 ┃  Date    ┃ Transact Type ┃                  Description                                   ┃   Credit   ┃   Debit    ┃  Balance   ┃
 ┣━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━┫
{{- clr.off }}
{%- for entry in entries %}
{{ transaction_entry(entry, colors=options.color, delta=options.delta) }}
{%- endfor -%}
{{ clr.bright }}
 ┗━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━━┛
{{- clr.off}}
