{%  from 'base/macros.jinja2' import transaction_entry %}
{% set clr = options.colorMap -%}
{% if options.bars %}{% set bar = '┃' %}{% else %}{% set bar = ' '%}{% endif -%}
         {{clr.bright}}Account :{{clr.off}} {{ account.acct_number }}({{ account.alias }}):{{ account.nick_name }}
 {{clr.bright}}Search Criteria :{{clr.off}} {% if month %}month - {{ month }}{% elif range %}range - {{ rnge }}{% elif date %}date - {{ date }}{% else %}None{% endif %}

{% for entry in entries %}
{{ transaction_entry(entry, colorMap=options.colorMap, delta=options.delta, boxBar=options.bars) }}
{%- endfor %}

